body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #E2E5E9 !important;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.logo img {
    width: 25rem;
    padding: 0, auto;
    margin: 0, auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    display: flex;
}

nav li {
    margin-right: 1.25rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 0.5rem;
}

nav a:hover {
    transition: 0.25s;
    color: white !important;
    background-color: #3268B7;
    padding-top: 100% !important;
    padding-bottom: 3.2rem !important;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.selected {
    transition: 0.4s;
    color: white !important;
    background-color: #3268B7;
    padding-top: 100% !important;
    padding-bottom: 3rem !important;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}

.social-links {
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.social-links a {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 1.2em;
    padding-right: 1rem;
}

.main {
    display: flex;
    align-items: center;
    max-width: 60%;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
}

.cta-button {
    background-color: #2196F3;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.2em;
}

.main-content-right img {
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    max-height: 75%;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}